<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="drapps.cryptoheadquarters">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="drapps.cryptoheadquarters.MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <receiver
            android:name="com.tappx.sdk.android.TrackInstallReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


        <activity android:name="drapps.cryptoheadquarters.MainActivity"
        android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="drapps.cryptoheadquarters.marketlist.MarketListActivity" android:screenOrientation="portrait"/>
        <activity android:name="drapps.cryptoheadquarters.exchangeslist.AddCoinActivity" android:screenOrientation="portrait"/>
        <activity android:name="drapps.cryptoheadquarters.news.NewsDetailActivity" android:screenOrientation="portrait"/>
        <activity android:name="drapps.cryptoheadquarters.coinlist.CoinDetailActivity" android:screenOrientation="portrait"/>


        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="9c6f7d41d73c79053f1f90862ec4b79569f1f13c" />
    </application>

</manifest>